/**{
	background-color:blue;
}*/
title{
	
}
li {
    float: left;
}

a {
    display: block;
    padding-top: 15px;
    padding-right: 50px;
	padding-bottom:15px;
    background-color: Yellow;
	list-style:none;
	font-size:25px;
	font-family:veranda;
}